<h1 align="center">Task</h1>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      <div class="article-title">
        <%= @task.name %>
        <p>Created at: <%= @task.created_at %></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <%= form_tag experiments_path method: :POST do %>
      <%= hidden_field_tag :name, @task.name %>
      <%= submit_tag "Submit" %>
    <% end %>
  </div>
</div>
