<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test_jquery.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @test_jquery.body %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @test_jquery.salary %>
</p>

<p>
  <strong>Date:</strong>
  <%= @test_jquery.date %>
</p>

<%= link_to 'Edit', edit_test_jquery_path(@test_jquery) %> |
<%= link_to 'Back', test_jqueries_path %>

<p class="test-paragraph">
  Something Something Something Something Something Something
  Something Something SomethingSomething
</p>
<h4>For sliding effect</h4>
<p class="test-sliding">

  Something Something Something Something Something Something<br>
  Something Something SomethingSomething<br>
  Something Something Something Something Something Something<br>
  Something Something SomethingSomething
</p>
<p>
  <button class="test-fade-in">Fade in</button> ||
  <button class="test-fade-out">Fade out</button>||
  <button class="test-fade-toggle">Fade toggle</button>
</p>
<p class="test-fading">

  Something Something Something Something Something Something<br>
  Something Something SomethingSomething<br>
  Something Something Something Something Something Something<br>
  Something Something SomethingSomething
</p>

<h4>For method chaining</h4>
<button class="method-chaining">Method chaining</button>
<p class="test-chaining">

  Something Something Something Something Something Something<br>
  Something Something SomethingSomething<br>
  Something Something Something Something Something Something<br>
  Something Something SomethingSomething
</p>