<h1 align="center">All the Departments</h1>
<div class="department-index">
  <%= render @departments %>
</div>
<h3 align="center">Create new department</h3>
<%= form_for(@department, remote: true) do |d| %>
  <p>
    <%= d.label :name %>
    <%= d.text_field :name %>
  </p>
  <p>
    <%= d.label :location %>
    <%= d.text_field :location %>
  </p>
  <p>
   <%= d.submit %>
  </p>
<% end %>
